/* App Container */
#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#app main {
  margin-left: 30px;
}

@media (max-width: 990px) {
  #app {
    flex-direction: column;
  }
  #app main {
    margin-left: 0;
    margin-top: 30px;
  }
  #app aside {
    width: 100%;
  }
}

/* Components Container */
aside {
  width: 320px;
  padding: 30px 20px;
  border-radius: 2px;

  background: #FFF;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
}

aside strong {
  font-size: 20px;
  text-align: center;
  display: block;
  color: #333;
}

main {
  flex: 1;
}

main ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  list-style: none;
}

@media (max-width: 620px) {
  main ul {
    grid-template-columns: 1fr;
  }
}
